.contenedor{
   
    margin-left: 9rem;
    margin-right: 6rem; 
    margin-top: 2rem;
    border:1px solid rgba(0, 0, 0, 0.226);
    width: 78%;
   
}

.contenedor-extremo{
    background-color: #F2F2F2;
    padding-left: 2rem;
    padding-right: 2rem;
    
}

.img{
    display: flex;
    align-items: center;
    width: 8rem;
    margin-top: 1rem;
}

.subtitulo{
    font-size: 14px;
}

.cuerpo{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap:1rem;
    
   
}

.graficos-cuerpo{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
    width: 70rem;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.reporte{
    display: flex;
    align-items: center;
}

.titulo{
    font-size: 35px;
}

.fb{
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    
}

.tw{
    width: 25px;
    height: 25px;
   }

.titulo1{
    display: flex;
    align-items: center;
    font-size: small;
    margin-left: 0.5rem;
}

.titulo0{
    display: flex;
    align-items: center;
    font-size: small;
   
}


.titulo2{
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    font-size: 30px;
    font-weight:400;
    color: #0083CA
}

.tag{
    display: flex;
    padding-left: 2rem;
    border:none;
    width: 100%;
}

.margen-boton{
    padding-bottom: 2rem;
}

.periodosfbtw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.twitter-grafico-bar{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.facebook-grafico-bar{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icon-nombre{
    display: flex;
    gap:0.5rem;
    justify-content: center;
  
}

.icon-nombre-columnas{
    display: flex;
    gap:0.5rem;
    justify-content: center;
    width: 20px;
    height: 20px;
    align-items: center;
    text-align: center;
    color: #0083CA;
    margin-left: 1rem;
}

.totalizador-1{
    border: 1px solid rgba(0, 0, 0, 0.166);
    margin: 1rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;

}

.title-total{
    display: flex;
    align-items: center;
    text-align: center;
}

.numeros{
    font-size: 2rem;
    color: #0083CA ;
    font-weight: 400; 
}

.box{
    display: flex;
    gap:3rem;
    margin-left: 3rem;
    height: 5rem;
   
}

.frases-total{
    display: flex;
    align-items: center;
    
}

.frase{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contenedor-totales{
    display: flex;
    justify-content: space-around  ;

}

.contenedor-pie-texto{
    display: flex;
    justify-content: space-around;
    
}

.pie{
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
} 

.texto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.positivo{
    color:#14AE5C
}
.negativo{
    color: rgba(255, 34, 34, 0.423);

}

.subtitulo-anillos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.hashtags{
    width: 50%;
    
}

.principales-hashtags{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.titulo3{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight:400;
    color: #0083CA
}

.contenedor-principales{
    display: flex;
   
}

.contenedor-img-words{
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
}

.contenedor-analisis{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-texto-analisis{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 2rem;
    gap:2rem;
    justify-content: center;
    align-items: center;
    width: 35rem;
}

.icono-analisis{
    font-size: 2rem;
    color:#0083CA;
}

.contenedor-dos-analisis{
    display: flex;
    align-items: center;
}

.hr-estilos {
    width: 100%;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #0083CA;
  }
  
  .table{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;

  }

  .table {
    border-radius: 0;
  }
  


  .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0px !important;
    }
 
   .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
        border-start-start-radius: 0px !important;
    }

  .container {
    height: 100vh;
  }

  .even-row {
    background-color: #f7f7f7;
  }
  
  .odd-row {
    background-color: #ffffff;
  }

  .preocupaciones-total{
    background-color: #0083CA; 
    color:white;
    font-weight: bold;
  }

  .preocupaciones-twitter{
    background-color: #00acee; 
    color:white;
    font-weight: bold;
  }

  .preocupaciones-facebook{
    background-color: #3b5998; 
    color:white;
    font-weight: bold;
  }

  .hover-black:hover {
    color: black;
  }

  .totalizador-preocupaciones{
    display: flex;
    justify-content: space-between;
  }

  .container-table{
    margin-bottom: 2rem;
  }