.contenedor-botones{
  background-color:#F2F2F2; 
  margin-bottom: 1rem;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

}

.contenedor-margin{
margin-top: 5rem;
margin-bottom: 2rem;
}

.contenedor{
    margin-bottom: 2rem;
    border:1px solid rgba(0, 0, 0, 0.226);
    width: 1100px; /* establece un ancho fijo para el contenedor */
    margin: 0 auto; /* centra el contenedor horizontalmente */
    max-height: max-content;
}

#contenedor{
  width: 1100px;
}

.contenedor-extremo{
    background-color: #F2F2F2;
    padding-left: 2rem;
    padding-right: 2rem;
    
}


.img{
    display: flex;
    align-items: center;
    width: 8rem;
    margin-top: 1rem;
}

.subtitulo-principal{
    font-size: 14px;
    padding-bottom: 1rem;
}

.cuerpo{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    gap:1rem;
    
   
}

.graficos-cuerpo{
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-wrap: wrap;
   height: 285px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}

.reporte{
    display: flex;
    align-items: center;
}

.titulo{
    font-size: 35px;
}

.fb{
    margin-top: 0.1rem;
    margin-left: 0.5rem;
    width: 20px;
    height: 20px;
    
}

.tw{
    width: 25px;
    height: 25px;
   }

.titulo1{
    display: flex;
    align-items: center;
    font-size: small;
    margin-left: 0.5rem;
}

.titulo0{
    display: flex;
    align-items: center;
    font-size: small;
   
}


.titulo2{
    display: flex;
    margin-top: 1.5rem;
    align-items: center;
    font-size: 30px;
    font-weight:600;
    color: #0083CA
}

.tag{
    display: flex;
    padding-left: 2rem;
    border:none;
    width: 100%;
    font-style: oblique;
}

.margen-boton{
    padding-bottom: 2rem;
}

.periodosfbtw{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.twitter-grafico-bar{
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.facebook-grafico-bar{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.icon-nombre{
    display: flex;
    gap:0.5rem;
    justify-content: center;
  
}

.icon-nombre-columnas{
    display: flex;
    gap:0.5rem;
    justify-content: center;
    width: 20px;
    height: 20px;
    align-items: center;
    text-align: center;
    color: #0083CA;
    margin-left: 1rem;
}

.totalizador-1{
    border: 1px solid rgba(0, 0, 0, 0.166);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0.2rem;
}

.title-total{
    display: flex;
    align-items: center;
    text-align: center;
}

.numeros{
    font-size: 2rem;
    color: #0083CA ;
    font-weight: 600; 
}

.box{
    display: flex;
    gap:3rem;
    margin-left: 3rem;
    height: 5rem;
   
}

.frases-total{
    display: flex;
    align-items: center;
    
}

.frase{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.contenedor-totales{
    display: flex;
    justify-content: space-around  ;

}

.contenedor-pie-texto{
    display: flex;
    justify-content: space-around;
    
}

.pie{
    display: flex;
    flex-direction: column;
    margin-right: 3.5rem;
} 

.texto{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.positivo{
    color:#14AE5C
}
.negativo{
    color: #ff22226c;

}

.subtitulo-anillos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 1rem;
}

.hashtags{
    width: 50%;
    
}

.principales-hashtags{
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
}

.titulo3{
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight:400;
    color: #0083CA
}

.contenedor-principales{
    display: flex;
   
}

.contenedor-img-words{
    height: 15rem;
    display: flex;
    flex-direction: row;
    align-items: center;
   
   
}

.contenedor-analisis{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contenedor-texto-analisis{
    display: flex;
    margin-bottom: 3rem;
    margin-top: 2rem;
    gap:2rem;
    justify-content: center;
    align-items: center;
    width: 30rem;
}

.icono-analisis{
    font-size: 2rem;
    color:#0083CA;
}

.contenedor-dos-analisis{
    display: flex;
    align-items: center;

}

.hr-estilos {
    width: 100%;
    display: block;
    height: 1px;
    margin: 0;
    padding: 0;
    border: none;
    border-top: 1px solid #0083CA;
  }
  
  .table{
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;

  }

  .table {
    border-radius: 0;
  }
  


  .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:last-child {
    border-start-end-radius: 0px !important;
    }
 
   .ant-table-wrapper .ant-table-container table>thead>tr:first-child >*:first-child {
        border-start-start-radius: 0px !important;
    }

  .container {
    height: 100vh;
  }

  .even-row {
    background-color: #f7f7f7;
  }
  
  .odd-row {
    background-color: #ffffff;
  }

  .preocupaciones-total{
    background-color: #0083CA; 
    color:white;
    font-weight: bold;
  }

  .preocupaciones-twitter{
    background-color: #00acee; 
    color:white;
    font-weight: bold;
  }

  .preocupaciones-facebook{
    background-color: #3b5998; 
    color:white;
    font-weight: bold;
  }

  .hover-black:hover {
    color: black;
  }

  .totalizador-preocupaciones{
    display: flex;
    justify-content: space-between;
  }

  

  .contenedor9cartas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: start;
    gap:1rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .contenedor3cartas{
    display: flex;
    gap:1rem;
    
    
  }
  .apexcharts-legend.apx-legend-position-bottom.apexcharts-align-center, .apexcharts-legend.apx-legend-position-top.apexcharts-align-center {
    justify-content: center;
    display: none;
}

  .contenedor1carta{
    display: flex;
    gap:1rem;
    width: 80%;
    padding: 1rem;
    font-size: 0.8rem;
  }

  .color{
    background-color:  #F2F2F2;
  }

  .final{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 210mm;
  }

  .logo-final{
    width: 50%;
    margin-bottom: 10rem;
  }

  .contenedor-footer{
    display: flex;
    text-align: start;
    justify-content: space-around;
    gap:8rem;
    background-color: #F2F2F2;
    padding:5rem;   
    width: 88%;
  }

  .subtitulo{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top:1rem;
    font-size: 15px;
  }

  .emocionesAtributos{
    background-color:#F2F2F2; 
    font-size: 18px;
    padding: 1.5rem;
  }

  .contenedorGralEmociones{
    display: flex;
    margin-top:2rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap:3rem;
    justify-content: space-between;

  }

  .contenedorEmocionesAtributos{
    display: flex;
    flex-direction: column;
  }

  .contenedorEmociones{
    display: flex;
    flex-direction: column;
  }

  .contenedorSugerencia{
    width: 45%;

  }

  .contenedorTablas{
    display: flex;
    justify-content: space-between;
    gap:1rem
  }

  .contenedorTextoTerminos{
    display: flex;
    flex-direction: column;
    gap:2rem
  }

  .emociones-color{

    background-color: #1a8f1abd;
    color:white;
    font-weight: bold;
  }

  .piepagina{
    margin-bottom: 0.5rem;
  }

  .nube-palabras{
    width: 200px !important;
    height: 200px !important;
  }

  .boton-confirmar{
    display: flex;
    margin: 1rem;
  }

  .boton-primary{
    margin-right: 1rem;
  }