#chart {
  height: 300px;
  width: 300px;
  position: relative;
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background-color: rgb(63, 63, 248);
  opacity: 0.8;
}

.bubble-container {
  position: absolute;
}

.bubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.word {
  position: absolute;
  transform: translate(-50%, -50%);
  color:white;
  top: 50%;
  left: 50%;
}